In [107]:
# load the csv file
session_time <- read.csv("/Users/Man/Downloads/web_page_data.csv")
# H0 : The sample mean of Page A and B is the same
# H1 : not H0
session_time

   Page   Time
1  Page A 0.21
2  Page B 2.53
3  Page A 0.35
4  Page B 0.71
5  Page A 0.67
6  Page B 0.85
7  Page A 2.11
8  Page B 2.46
9  Page A 1.32
10 Page B 1.49
11 Page A 0.68
12 Page B 0.75
13 Page A 3.21
14 Page B 3.33
15 Page A 1.47
16 Page B 1.87
17 Page A 0.95
18 Page B 1.26
19 Page A 0.45
20 Page B 0.48
21 Page A 1.18
22 Page B 1.47
23 Page A 3.42
24 Page B 3.57
25 Page A 1.97
26 Page B 2.23
27 Page A 0.39
28 Page B 0.43
29 Page A 0.65
30 Page B 0.87
31 Page A 1.73
32 Page A 0.74
33 Page A 0.86
34 Page A 1.18
35 Page A 2.06
36 Page A 0.93

In [10]:
(Page_A <- session_time[session_time$Page == "Page A",])

   Page   Time
1  Page A 0.21
3  Page A 0.35
5  Page A 0.67
7  Page A 2.11
9  Page A 1.32
11 Page A 0.68
13 Page A 3.21
15 Page A 1.47
17 Page A 0.95
19 Page A 0.45
21 Page A 1.18
23 Page A 3.42
25 Page A 1.97
27 Page A 0.39
29 Page A 0.65
31 Page A 1.73
32 Page A 0.74
33 Page A 0.86
34 Page A 1.18
35 Page A 2.06
36 Page A 0.93

In [11]:
(Page_B <- session_time[session_time$Page == "Page B",])

   Page   Time
2  Page B 2.53
4  Page B 0.71
6  Page B 0.85
8  Page B 2.46
10 Page B 1.49
12 Page B 0.75
14 Page B 3.33
16 Page B 1.87
18 Page B 1.26
20 Page B 0.48
22 Page B 1.47
24 Page B 3.57
26 Page B 2.23
28 Page B 0.43
30 Page B 0.87

In [23]:
# assume the population varience is the same
# the pooling formula is (sp)2 = (N1 - 1)(s1)^2 + (N2 - 1)(s2)^2 / (N1 - 1) + (N2 - 1)
paste("sample size of A is", sample_size_A <- length(Page_A$Page))
paste("sample size of B is", sample_size_B <- length(Page_B$Page))
paste("The standard deviation of A is", round(sd_A <- sd(Page_A$Time), 2))
paste("The standard deviation of B is", round(sd_B <- sd(Page_B$Time), 2))

[1] "sample size of A is 21"

[1] "sample size of B is 15"

[1] "The standard deviation of A is 0.88"

[1] "The standard deviation of B is 1.01"

In [88]:
# The pooled estimate of Page A and B is
(pooled <- round(sqrt((((sample_size_A - 1) * (sd_A**2)) + ((sample_size_B - 1) * (sd_B**2)))/ ((sample_size_A - 1) + (sample_size_B - 1))), 2))

[1] 0.94

In [ ]:
# The T test for Two sample, assuming the population varience of the two sample are the same is
# t = (A_mean_sample - B_mean_sample) - (A_mean_population - B_mean_population) / pooled(sqrt(1/sample_size_A + 1/sample_size_B))

In [60]:
paste("The sample mean of A is", round(mean_A <- mean(Page_A$Time), 2))
paste("The sample mean of B is", round(mean_B <- mean(Page_B$Time), 2))

[1] "The sample mean of A is 1.26"

[1] "The sample mean of B is 1.62"

In [89]:
(t <- round((mean_B - mean_A) / (pooled * sqrt((1/sample_size_A) + (1/sample_size_B))), 2))

[1] 1.13

In [80]:
qt(0.025, df = 34, lower.tail = FALSE)

[1] 2.032245

In [90]:
# since 1.13 is smaller than 2.03, we can't reject the null hypothesis

In [91]:
# use t.test() to find the t value
t.test(Page_B$Time, Page_A$Time, var.equal = TRUE, alternative = "two.sided", mu=0)

	Two Sample t-test

data:  Page_B$Time and Page_A$Time
t = 1.1237, df = 34, p-value = 0.269
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.2883731  1.0017064
sample estimates:
mean of x mean of y
 1.620000  1.263333

In [98]:
# we can use F-test to verify the equal varience assumption
(varience_A <- (sd_A) ** 2)
(varience_B <- (sd_B) ** 2)

[1] 0.7744

[1] 1.0201

In [100]:
1.0201 / 0.7744

[1] 1.317278

In [105]:
qf(0.025, 20, 14, lower.tail = FALSE)

[1] 2.843691

In [106]:
# since 1.31 is smaller tham 2.83, we can be safe to assume that the two sample varience are the same